.container-fluid .navGeneral{
	background-color: #CCCCFF;
	border-radius: 20px;
	margin-top: 20px;
}
.nav_ul{
	list-style-type: none;
	margin-bottom: 20px;
    
}

.nav_li{
	margin-top: 20px;
	margin-left: 50px;
}
.brand{
	height: 100px;
	padding-left: 50px;
}
.nav1{
	margin-top: 20px;
	margin-right: 20px;
	
}
.nav1 li{
	border: 2px solid #CCCCFF;
	border-radius: 20px;
}
.collapse .nav1 li:hover{
	border: 2px solid white;
	background-color: white;
	border-radius: 20px;
}
.nav1 a{
	border: 2px solid #CCCCFF;
	border-radius: 20px;
}
.nav1 a:hover{
	border: 2px solid white;
	border-radius: 20px;
	/*transition: 1.5s;*/
}
.menu1{
	background-color: #CCCCFF !important;
}

/*.menu1 li:hover{
	border: 2px solid white;
	background-color: white;
	border-radius: 20px;
	transition: 0.25s;
}*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    
     background-color: transparent;
     border: none;
 }
.item .carouselImg{
	position: relative;
	height: 400px;
	width: 1000px;
	}
.carousel1{
	margin-top: 70px;
	
	/*height: 400px;*/
}


.sheduleBorder{
	border: 4px double #CC0000;
	border-radius: 20px;
	margin-top: 25px;
	padding: 5px;
}

.btn-lg{
	margin-top: 25px;
}
.news{
	border: 4px double #CC0000;
	border-radius: 20px 0px;
	
	/*display: flex;
	flex-wrap: wrap;
	justify-content: space-around;*/
}

.footer1{
	margin-top: 20px;
	border-top: 6px double #3300CC;
	/*background-color: #FFCCCC;*/
	background-image: url(../img/302_182.png);
	padding: 50px
}
body{
	background-image: url(../img/329_body_bg0.jpg);
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
nav{
	font-weight: 800;
}
.animated {
  -webkit-animation-duration: 6s;
  animation-duration: 2s;
}
.news li{
	border: 1px solid transparent;
	margin: 10px;
	list-style-type: none;
}
.news li:hover{
	border: 1px solid #FF9966;
	background-color: #FF9966;
}
/*.googleMap{
	float: right;
	margin-top: 50px;
}*/
html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 400px; width: 600px;}
.content_font{
	font-family: 'Arial Cyr';
	font-size: 1.5em;
	color: #990000;	
}



